@model MushRoom_Manager.Models.Client
@* @model MushRoom_Manager.ViewModels.ClientsViewModel *@
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <h2>Новый Клиент</h2>
}
else
{
    <h2>@Model.Name</h2>
}

@using (@Html.BeginForm("Save", "Client"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name, "Имя")
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Phone, "Телефон")
        @Html.TextBoxFor(c => c.Phone, new { @class = "form-control" })
    </div>
    <br />
    <div>
        @Html.HiddenFor(c => c.Id)
        <button type="submit" class="btn btn-info">Сохранить</button>
    </div>
}